@model Market.Models.Product

@{
    ViewData["Title"] = "List";
    Layout = "_AdminLayout";
}

<form method = "post" action="Delete">
    
<div class = "row">
<div class = "col-md-10">
    <label for="Id">Id</label>
</div>
<div class = "col-md-10">
    <input asp-for="Id" type="number" >
</div>
</div><br>
<div class = "row">
<div class = "col-md-10">
    <input type="submit" class=" btn btn-danger" value="Delete">
</div>
</div>

</form>