@model Market.Models.Trash

@{
    ViewData["Title"] = "Buy";
    Layout = "_ClientLayout";
}

<form method = "post" asp-route-Id="@ViewBag.TrashId" asp-action="GetAdress">

<div class = "row">
<div class = "col-md-10">
    <label for="Adress">Adress</label>
</div>
<div class = "col-md-10">
    <input asp-for="Adress" type="text" >
</div>
</div>
<div class = "row">
<div class = "col-md-10">
    <label for="DeliveryTime">Delivery Time</label>
</div>
<div class = "col-md-10">
    <input asp-for="DeliveryTime" type="text" >
</div>
</div>
<div class = "row">
<div class = "col-md-10">
    <label for="PhoneNumber">Phone Number</label>
</div>
<div class = "col-md-10">
    <input asp-for="PhoneNumber" type="text" >
</div>
</div>
<div class = "row">
<div class = "col-md-10">
    <input type="submit" class=" btn btn-primary" value="Next">
</div>
</div>

</form>